.changelogHistory{
    background: linear-gradient(0deg, #000000d9, transparent, #000000d9);
    z-index: 999999;
    position: fixed;
    width: 20%;
    height: 100%;
    transition: 300ms;
    transform: translateX(-100%);
    display: none;
    box-shadow: 0px 0px 30px 10px #000;
    backdrop-filter: grayscale(1) brightness(0.2);
    @media (max-width: 1240px) {
        &{
            width: 30%;
        }
    }
    @media (max-width: 860px) {
        &{
            width: 100%;
        }
    }
    .changelogsectionDescription{
        width: -webkit-fill-available;
        background: #2c2c2c70;
        position: relative;
        padding: 20px 0px;
        border-bottom: 4px solid #656565;
        color: #fff;
        display: flex;
        align-items: center;
        backdrop-filter: blur(4px);
        text-align: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        .expandOrCollapse{
            position: absolute;
            left: 2px;
            display: flex;
            padding: 5px;
            gap: 2px;
            button{
                background: transparent;
                border: 2px solid transparent;
                padding: 4px;
                border-radius: 4px;
                cursor: pointer;
                outline: none;
                color: #fff;
                &:hover,
                &:focus-visible{
                    backdrop-filter: brightness(.5) blur(4px);
                    transition: 200ms;
                    border: 2px solid #656565;
                }
            }
        }
        button.changelogToggleClose{
            position: absolute;
            right: 6px;
            width: 50px;
            height: 50px;
            display: flex;
            border: none;
            cursor: pointer;
            background: transparent;
            border-radius: 10px;
            transition: 200ms;
            border: 2px solid transparent;
            &:hover{
                backdrop-filter: brightness(.5) blur(4px);
                transition: 200ms;
                border: 2px solid #656565;
            }

            i{
                font-size: 26px;
                color: #fff;
                padding: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .changelogsectionList{
        display: flex;
        width: 100%;
        height: 91%;
        position: relative;
        justify-content: start;
        flex-flow: column;
        align-items: center;
        overflow: auto;
        overflow-x: hidden;
        .changeLogItem{
            width: 100%;
            button.itemTitle{
                position: relative;
                width: 100%;
                color: #fff;
                font-family: 'Roboto';
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #212121;
                cursor: pointer;
                box-shadow: 0px 10px 40px -10px #000;
                border: none;
                font-size: 16px;
                border-bottom: 2px solid #444444;
                user-select: none;
                i{
                    position: absolute;
                    left: 20px;
                }
            }
            ul.itemDescription{
                margin: 0;
                width: 100%;
                display: flex;
                flex-flow: column;
                list-style: none;
                padding: 0;
                background: #56565647;
                overflow: hidden;
                height: 0;
                li{
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 20px;
                    background: #373737;
                    border: 1px solid #414141;
                    flex-flow: column;
                    gap: 20px;
                    &.developing{
                        &::before{
                            content: 'В разработке';
                            position: absolute;
                            width: 100%;
                            height: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 999;
                            left: 0;
                            background: #0f0f0fb0;
                            backdrop-filter: blur(2px);
                            box-shadow: 0px 0px 20px 0px black inset,0px 0px 60px 0px black inset;
                            font-size: 30px;
                            cursor: help;
                        }
                    }
                    &:has(i.iconDelete){
                        .itemDescriptionDemo{    
                            background: linear-gradient(180deg, #ff6060bd, rgba(219, 219, 219, 0.7411764706));
                            border: 2px solid #ff6060;
                        }
                    }
                    &:has(i.iconUpdate){
                        .itemDescriptionDemo{    
                            background: linear-gradient(180deg, #8cff8cbd, rgba(219, 219, 219, 0.7411764706));
                            border: 2px solid #8cff8c;
                        }
                    }
                    &:has(i.iconFix){
                        background: #272727;
                        .itemDescriptionDemo{    
                            background: linear-gradient(180deg, #ffee60bd, rgba(219, 219, 219, 0.7411764706));
                            border: 2px solid #ffee60;
                        }
                    }
                    &:has(i.iconChange){
                        background: #272727;
                        .itemDescriptionDemo{    
                            background: linear-gradient(180deg, #eb35ffbd, rgba(219, 219, 219, 0.7411764706));
                            border: 2px solid #eb35ff;
                        }
                    }

                    .itemDescriptionTitle {
                        display: flex;
                        gap: 20px;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        i{
                            position: relative;
                            transition: 150ms;
                            cursor: help;
                            filter: drop-shadow(0px 2px 6px black);
                            &::after{
                                content: '...';
                                position: absolute;
                                color: #fff;
                                padding: 10px;
                                background: #000;
                                border-radius: 20px;
                                font-size: 12px;
                                top: -50%;
                                backdrop-filter: blur(2px);
                                border: 1px solid #656565;
                                transform: translateY(0%);
                                white-space: pre;
                                font-family: 'Roboto';
                                box-shadow: 0px 0px 10px 2px #000;
                                left: 150%;
                                transition: 200ms;
                                opacity: 0;
                                transform: translateX(-20%);
                                pointer-events: none;
                            }
                            &.iconUpdate{
                                color: #8cff8c;
                                &::after{
                                    content: 'Обновление';
                                }
                            }
                            &.iconFix{
                                color: #ffee60;
                                &::after{
                                    content: 'Исправление / Изменение';
                                }
                            }
                            &.iconChange{
                                color: #eb35ff;
                                &::after{
                                    content: 'Полная переработка';
                                }
                            }
                            &.iconDelete{
                                color: #ff6060;
                                &::after{
                                    content: 'Удаление';
                                }
                            }
                            &:hover{
                                color: #fff;
                                transition: 200ms;
                                &::after{
                                    transition: 200ms;
                                    opacity: 1;
                                    transform: translateX(0);
                                }
                            }
                        }
                        .itemDescriptionText{
                             p{
                                margin: 0;
                                margin-bottom: 10px;
                            }
                            span{
                                font-family: "Roboto", sans-serif;
                                font-size: 14px;
                            }
                            .itemDescriptionTextInfoSub{
                                font-size: 12px;
                                color: #acacac;
                                margin-top: 0px;
                                font-style: italic;
                                i{
                                    cursor: text;
                                    z-index: unset;
                                    &::after{
                                        content: unset;
                                    }
                                }
                                a.telegrammLink{
                                    text-decoration: none;
                                    color: #26e3ff;
                                    font-size: 12px;
                                    font-weight: 500;
                                    i{
                                    color: #26e3ff;
                                    }
                                }
                            }
                        }
                    }
                    .itemDescriptionDemo{
                        padding: 20px;
                        border-top: 1px dotted #575757;
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid #fff;
                        border-radius: 20px;
                        background: linear-gradient(180deg, #7c7c7cbd, #dbdbdbbd);
                        left: 50%;
                        position: relative;
                        transform: translateX(-50%);
                        overflow: hidden;
                        box-shadow: 0px 16px 10px -10px #000;
                        padding-top: 40px;
                        &::before{
                            content: 'Предварительный просмтр:';
                            display: flex;
                            position: absolute;
                            z-index: 99999999;
                            background: #232323;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            top: 0;
                            font-size: 10px;
                            color: #ffffff;
                            box-shadow: 0px 6px 30px 0px #000;
                            font-style: italic;
                        }
                        // &.demoDeleted{
                        //     background: linear-gradient(180deg, rgb(153 0 0 / 74%), rgba(219, 219, 219, 0.7411764706));
                        //     border: 2px solid #ff0000;
                        // }

                        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        .historyToggleOpenDemo{
                            position: relative;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            border-radius: 10px;
                            transition: 200ms;
                            border: 2px solid transparent;
                            justify-content: center;
                            align-items: center;
                            background: #2c2c2c70;
                            backdrop-filter: blur(4px);
                            cursor: pointer;
                            z-index: 998;
                            &:hover{
                                backdrop-filter: brightness(.5) blur(4px);
                                transition: 200ms;
                                border: 2px solid #656565;
                            }
                            i{
                                color: #fff;
                                font-size: 18px;
                            }
                            .historyCounterDemo{
                                display: block;
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                background: linear-gradient(225deg, #01c3fc, #9158ff);
                                z-index: 999;
                                padding: 5px;
                                margin: 0;
                                line-height: 11px;
                                font-size: 14px;
                                border: 2px solid #fff;
                                border-radius: 50%;
                                right: -25%;
                                top: -20%;
                                color: #fff;
                                pointer-events: none;
                                box-shadow: 0px 0px 10px 2px #202d9e;
                                justify-content: center;
                                align-items: center;
                                user-select: none;
                            }
                        }
                        canvas#particle-canvasDemo,
                        canvas#particle-canvasDemov1-10{
                            width: 100%;
                            height: 100px;
                            position: relative;
                            background: linear-gradient(0deg, #2e2e2e, #717171);
                            border-radius: 10px;
                            border: 1px solid #ffffff29;
                            box-shadow: 0px 0px 8px 0px #000 inset;
                        }
                        .changelogToggleOpenDemo{
                            position: relative;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            border-radius: 10px;
                            transition: 200ms;
                            border: 2px solid transparent;
                            justify-content: center;
                            align-items: center;
                            background: #2c2c2c70;
                            backdrop-filter: blur(4px);
                            cursor: pointer;
                            z-index: 998;
                            top: unset;
                            left: unset;
                            &:hover{
                                backdrop-filter: brightness(.5) blur(4px);
                                transition: 200ms;
                                border: 2px solid #656565;
                            }
                            i{
                                color: #fff;
                                font-size: 20px;
                            }
                        }
                        .inputUpperResetSpacesDemo{
                            display: block;
                            width: 100%;
                            height: 30px;
                            font-weight: 600;
                            border-radius: 20px 20px 0px 0px;
                            background: linear-gradient(0deg, #fc7001, #e7ff58) !important;
                            border: 3px solid #000;
                            cursor: pointer;
                            user-select: none;
                            position: relative;
                            top: 2px;
                            &:active{
                                filter: unset !important;
                                transition: unset !important;
                            }
                            &:hover{
                                filter: brightness(1.2);
                                transition: transform 300ms ease-in-out, filter 100ms ease-in-out;
                            }
                        }
                        .qrTypeSwitchDemo{
                            position: relative;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            border-radius: 10px;
                            transition: 200ms;
                            border: 2px solid transparent;
                            justify-content: center;
                            align-items: center;
                            background: #2c2c2c70;
                            backdrop-filter: blur(4px);
                            cursor: pointer;
                            z-index: 998;
                            background-image: url("../img/qrSwtichType_1.svg");
                            background-position: center;
                            background-size: 55%;
                            background-repeat: no-repeat;
                            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                            &:hover{
                                backdrop-filter: brightness(.5) blur(4px);
                                transition: 200ms;
                                border: 2px solid #656565;
                            }
                            &__clicked{
                                transition: 200ms;
                                background-image: url("../img/qrSwtichType_2.svg");
                                // background-color: #fff;
                                // border: 2px solid #292929;
                                // &:hover{
                                //     transition: 200ms;
                                //     border: 2px solid #292929;
                                //     background-color: #d7d7d7;
                                // }
                            }
                            .coolDownIndicatorDemo{
                                position: absolute;
                                display: block;
                                width: 4px;
                                height: 100%;
                                background: transparent;
                                border-radius: 10px;
                                z-index: -1;
                                right: -12px;
                                bottom: 0;
                                transition: unset;
                            }
                        }
                        .shortcutDemo{
                            position: relative;
                            color: #fff;
                            font-size: 12px;
                            z-index: 9;
                            padding: 6px 20px;
                            border-radius: 10px;
                            display: flex;
                            gap: 10px;
                            text-align: center;
                            justify-content: center;
                            user-select: none;
                            background: #01010199;
                            border: 2px solid #fff;
                            kbd{
                                min-width: 20px;
                                padding: 6px;
                                background: black;
                                border: 1px solid rgba(154, 154, 154, 0.27);
                                border-radius: 6px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: default;
                                transition: 200ms;
                                font-style: italic;
                                &.keyPressed{
                                    background: #fff;
                                    color: #000;
                                    transition: 100ms;
                                }
                            }
                            p{
                                margin: 0;
                                font-size: 16px;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                            }
                        }
                        .kittysDemo{
                            height: 200px;
                            width: 100%;
                            background-size: 90%;
                            background-position: center;
                            background-repeat: no-repeat;
                            transition: 300ms;
                            filter: drop-shadow(0px 0px 2px black);
                            pointer-events: none;
                            margin-bottom: 30px;
                            @media (max-width: 860px) {
                                &{
                                    background-size: 60%;
                                    margin-bottom: 40px;
                                }
                            }
                            svg{
                                position: absolute;
                                width: 41px;
                                top: -4px;
                                left: -4px;
                                height: 41px;
                                z-index: 0;
                                circle{
                                    stroke-width: 4;
                                }
                            }
                            .kittysDemoCounter{
                                border: 2px solid;
                                width: 10px;
                                height: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1em;
                                background: linear-gradient(0deg, #747474, #c1c1c1);
                                border-radius: 50%;
                                padding: 10px;
                                color: #fff;
                                box-shadow: 0px 2px 24px -10px #000, 0px 0px 10px 0 inset #000;
                                user-select: none;
                                z-index: 1;
                                position: relative;
                            }
                        }
                        .kittysDemoPlayer{
                            width: -webkit-fill-available;
                            height: 30px;
                            background: #232323;
                            position: absolute;
                            bottom: 0;
                            padding: 10px;
                            display: flex;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            &>button{
                                width: 30px;
                                height: 30px;
                                background: transparent;
                                border: 2px solid;
                                border-radius: 10px;
                                color: #bcbcbc;
                                cursor: pointer;
                                transition: 200ms;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-flow: column;
                                outline: none;
                                &:hover,
                                &:focus-visible{
                                    transition: 200ms;
                                    color: #fff;
                                }
                                &:active{
                                    transition: 100ms;
                                    &.kittysDemoPlayerNext>i{
                                        transform: translateX(2px);
                                        transition: 100ms;
                                    }
                                    &.kittysDemoPlayerPrev>i{
                                        transform: translateX(-2px);
                                        transition: 100ms;
                                    }
                                }
                            }
                        }
                        label.toggleLabelDemo{
                            width: 100%;
                            @media (max-width: 860px) {
                                &{
                                    width: 50%;
                                }
                            }
                            .labelContainer{
                                display: flex;
                                gap: 10px;
                                min-height: 40px;
                                justify-content: flex-start;
                                align-items: center;
                                cursor: pointer;
                                position: relative;
                                background: #000000cf;
                                display: flex;
                                backdrop-filter: blur(2px) grayscale(1);
                                border-radius: 20px;
                                padding: 10px;
                                transition: 400ms;
                                border: 2px solid rgba(154, 154, 154, 0.1294117647);
                                box-shadow: 0px 2px 6px 0px #000, 0px 0px 6px 0px transparent inset;
                                &:has(input:checked){
                                    transition: 400ms;
                                    box-shadow: 0px 2px 6px 0px #000, 0px 0px 6px 0px #4f86fb inset;
                                    border: 2px solid #4f86fb;
                                        .inputBody{
                                            transition: 200ms;
                                            filter: grayscale(0);
                                            .inputDot{
                                                transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                                left: 60%;
                                                box-shadow: 0px 0px 10px 0px #000;
                                                background: #fff;
                                            }
                                        }
                                        p{
                                            transition: 200ms;
                                            color: #fff;
                                        }
                                }
                                &:has(input.toggleDamageTitileDemo:checked){
                                        box-shadow: 0px 2px 6px 0px #000, 0px 0px 6px 0px #ff3a75 inset;
                                        border: 2px solid #ff3a75;
                                        .inputBody{
                                            background: linear-gradient(225deg, #ff3a75, #ff3737);
                                        }
                                }
                                .checkboxWrapper{
                                    width: 30%;
                                    display: flex;
                                    justify-content: center;
                                    .inputBody{
                                        width: 40px;
                                        height: 16px;
                                        background: #b4b4b4;
                                        border-radius: 20px;
                                        padding: 4px;
                                        transition: 200ms;
                                        background: linear-gradient(225deg, #01c3fc, #9158ff);
                                        box-shadow: 0px 0px 10px 0px #000, 0px 0px 5px 0px #000 inset;
                                        filter: grayscale(1);
                                        .inputDot{
                                            top: calc(50% - (var(--wh)/2));
                                            position: relative;
                                            --wh: 16px;
                                            width: var(--wh);
                                            height: var(--wh);
                                            background: #fff;
                                            border-radius: 50%;
                                            left: 0;
                                            transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                            box-shadow: 0px 0px 10px 0px transparent;
                                        }
                                    }
                                }
                                p{
                                    color: #8d8d8d;
                                    margin: 0;
                                    font-size: 14px;
                                    user-select: none;
                                    transition: 200ms;
                                }
                            }
                            input[type="checkbox"] {
                                display: none;
                            }
                        }
                        .expandOrCollapseDemo{
                            justify-content: center;
                            align-items: center;
                            background: #000000cf;
                            position: relative;
                            border-radius: 20px;
                            padding: 10px 30px;
                            border: 2px solid;
                            gap: 20px;
                            button{
                                background: transparent;
                                border: 2px solid transparent;
                                padding: 4px;
                                border-radius: 4px;
                                cursor: pointer;
                                outline: none;
                                color: #fff;
                                &:hover,
                                &:focus-visible{
                                    backdrop-filter: brightness(.5) blur(4px);
                                    transition: 200ms;
                                    border: 2px solid #656565;
                                }
                            }
                        }
                        &:has(img.gifQrGeneration){
                            gap: 10px;
                        }
                        .gifQrGeneration{
                            width: 100px;
                            border-radius: 10px;
                            pointer-events: none;
                            user-select: none;
                        }
                    }
                }
            }
            &.open{
                ul.itemDescription{
                    height: fit-content;
                }
                .itemTitle{
                    i{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}